<% unless shout.content.nil? %>
<div>
  <div>
    <h5><%= link_to shout.username, shout.user %></h5>
    <%=link_to shout do %>
      <%= time_ago_in_words(shout.created_at) %> ago
    <% end %>
  </div>
  <%= render shout.content %>
</div>
<% end %>