<div id="clearance" class="sign-in">
  <h2 class="display-2"><%= t(".title") %></h2>
  <hr>

  <div class="card">
    <div class="card-body">
      <%= render partial: '/sessions/form' %>
    </div>
  </div>

</div>
